* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-width: 320px;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   font-family: Arial, serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   color: rgb(9, 26, 126);
}

.header {
   background-color: #404b69;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
   min-height: 50px;
}

.nav-list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;
}

.nav-link {
   position: relative;
   padding: 0 12px;
   text-decoration: none;
   font-size: 18px;
   font-weight: 300;
   line-height: 50px;
   color: #fff;
   transition: color 0.3s linear;
}

.nav-link::after {
   content: "";
   position: absolute;
   left: 12px;
   bottom: -5px;
   width: calc(100% - 24px);
   height: 2px;
   background-color: #99abdd;
   opacity: 0;
   transition: opacity 0.3s linear;
}

.nav-link:hover {
   color: #99abdd;
}

.nav-link:hover::after {
   opacity: 1;
}